
<div class="list-group">
  {{#each post.comments as |comment|}}
    <div class="list-group-item">
      <div class="list-group-item-text">
        {{comment.words}}
      </div>
      <h4 class="list-group-item-heading small">
        Posted {{moment-from-now comment.createdAt}} by {{comment.user}}
      </h4>
    </div>
  {{/each}}
</div>
