
<div class="list-group">
  {{#each sortedComments as |comment|}}
    {{#link-to 'comment' comment.id class="list-group-item"}}
      <div class="list-group-item-text">
        {{comment.words}}
      </div>
      <h4 class="list-group-item-heading small">
        Posted {{moment-from-now comment.createdAt}} by {{comment.user}}
      </h4>
    {{/link-to}}
  {{/each}}
</div>
