.jumbotron {
  text-align: center;
}

.badge {
  float: right;
}

.panel-default {
  .panel-heading {
    .badge {
      background-color: red;
    }
  }

}

pre {
  font-family: sans-serif;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
  white-space: pre-wrap;
  word-wrap: inherit;
  word-break: normal;
}

.details {
  float: right;
}

.list-group-item-heading {
  margin-top: 5px;
}

body {
  margin-bottom: 25px;
}

.panel-footer {
  padding-bottom: 15px;
}
