<div class="row">
  <div class="col-sm-7">
    {{post-detail post=model}}
    {{add-comment post=model}}
    {{show-comments post=model}}
  </div>
  <div class="col-sm-5">
    {{update-post post=model updatePost="update" destroyEntry="destroyPost"}}
  </div>
</div>
