<div class="row">
  <div class="col-sm-8">
    {{post-detail post=model}}
  </div>
  <div class="col-sm-4">
    {{update-post post=model updatePost="update" destroyEntry="destroyPost"}}
  </div>
</div>
